<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <title>Courses</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-[#141414] flex flex-col items-center justify-center h-screen">
        <h1 class="text-[#7C3AFF] font-bold text-4xl mb-7">Cursos</h1>

        <table class="max-w-4xl rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-[#7C3AFF] text-white font-bold">
                    <th class="text-left py-2 px-4">Curso</th>
                    <th class="text-left py-2 px-4">Cateoria</th>
                    <th cLass="text-Lett py-2 px-4">Professor(a)</th>
                    <th class="text-left py-2 px-4">Ativo</th>
                </tr>
            </thead>
            <tbody>
                <tr
                        th:if="${courses}"
                        th:each="course, iStat: ${courses}"
                        class="text-white border-[#292929]"
                        th:classappend="(${iStat.even} ? 'bg-[#1B1B1B]' : 'bg-[#212121]')"
                >
                    <td class="px-4 py-2"><a th:text="${course.name}" th:href="@{'/course/'+${course.id}}"></a></td>
                    <td class="px-4 py-2" th:text="${course.category}"></td>
                    <td class="px-4 py-2" th:text="${course.teacher}"></td>
                    <td class="px-4 py-2"><a th:text="${course.active == 'ACTIVE'} ? Sim : Não" th:href="@{'/active/'+${course.id}}"></a></td>
                </tr>
            </tbody>
        </table>

        <a href="/add" class="w-36 text-center text-white font-bold bg-[#7C3AFF] hover:bg-[#4412A5] rounded-lg px-5 py-2.5 mt-7">Novo Curso</a>

    </body>
</html>